  <h1><%= @chore.name %></h1>

  <h2>List of cleanings</h2>
  <div class="cleanings">
    <% @chore.cleanings.each do |cleaning| %>
        <p>Cleaning time: <%= cleaning[:date].strftime('%A, %d.%m.%Y at %H:%M') %>, cleaned by: <%= User.find( cleaning[:user_id] ).name %> </p>
    <% end %>
    <%= link_to 'Add cleaning', cleanings_path( cleaning: { chore_id: @chore.id } ), method: :post %>
  </div>

<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Destroy', @chore, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', chores_path %>
